.text {
    color: var(--black);
    font-weight: 400;
    line-height: 32.5px;
    font-size: 1.563rem;

    @media(max-width:1024px) {
        font-size: 1rem;
    }

    @media (max-width:420px) {
        font-size: 0.9rem;
        line-height: 20px;
    }

}