.secondaryArticle {
    width: 280px;
    height: 60px;
    box-sizing: content-box;
    font-size: 0.93rem;
    line-height: 20px;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    @media(max-width:626px) {
        width: 80%;
        min-width: 265px;
    }

}

.vector {
    height: 50px;
    min-width: 5px;
    border-radius: 100px;
}

.vectorBlue {
    background-color: var(--blue);
}

.vectorGreen {
    background-color: var(--green);
}

.vectorRed {
    background-color: var(--red);
}