.mainArticles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    @media(max-width:1076px) {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;

    }


}


.boxSecondaryArticle {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media(max-width:620px) {
        flex-direction: column;
        align-items: center;

    }

}